#!sh

AGE_PUB=''

RCLONE_DESTS=(
    # Backblaze B2 (https://rclone.org/b2/)
    b2:vaultwarden
    # Oracle Cloud Infrastructure (https://docs.oracle.com/en/solutions/move-data-to-cloud-storage-using-rclone/)
    oci:vaultwarden
)

VAULTWARDEN_ROOT=/docker/vaultwarden
DATA_DIR="data"

BACKUP_DIR_NAME="vaultwarden-$(date '+%Y%m%d-%H%M')"

DB_FILE="db.sqlite3"
